#{extends 'main.html' /}
#{set title:'Home' /}

#{if user}
Welcome ${user.fullname} <a style="float:right; margin-right:50px;" href="@{Secure.logout()}">Log out</a>
#{/if}
#{else}
  <a href="@{Admin.index}">Log in</a>
#{/else}
<div class="initialization" id="init">
    <input type="text" name="stitches" id="stitches"/>
    <input type="text" name="rows" id="rows"/>
    <button type="button" name="initialSubmit" id="initialSubmit">Create grid</button>
</div>
<button type="button" name="increaseCellSize" id="increaseCellSize">Increase cell size</button>

#{if user && user.patterns}
  Select a saved pattern: <select name="patternSelect" id="patternSelect">
  #{list user.patterns, as: 'pattern'}
    <option value="${pattern.name}">${pattern.name}</option> 
  #{/list}
  </select>
  <button type="button" name="loadPattern" id="loadPattern">load pattern</button>
#{/if}
<canvas id="myCanvas" width="1000" height="1000" style="border:solid 1px black;"></canvas>
